<ul class="list-group list-group-flush">
  {{#events}}
    <li class="card">
        <h2 class="card-title">{{ title }}</h2>
        <p class="card-text">{{ description }}</p>
    </li>
  {{/events}}
</ul>